:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --rgb-blurple: 101, 114, 245;
  --c-blurple: rgb(var(--rgb-blurple));

  --rgb-fuchsia: 238, 69, 158;
  --c-fuchsia: rgb(var(--rgb-fuchsia));

  --rgb-green: 35, 165, 89;
  --c-green: rgb(var(--rgb-green));

  --rgb-yellow: 240, 178, 50;
  --c-yellow: rgb(var(--rgb-yellow));

  --rgb-orange: 255, 144, 0;
  --c-orange: rgb(var(--rgb-orange));

  --rgb-red: 218, 55, 60;
  --c-red: rgb(var(--rgb-red));

  --rgb-cyan: 95, 205, 228;
  --c-cyan: rgb(var(--rgb-cyan));

  --rgb-pink: 246, 42, 245;
  --c-pink: rgb(var(--rgb-pink));

  --rgb-gray: 117, 126, 138;
  --c-gray: rgb(var(--rgb-gray));

  --rgb-white: 255, 255, 255;
  --c-white: rgb(var(--rgb-white));

  --rgb-black: 30, 31, 34;
  --c-black: rgb(var(--rgb-black));

  --c-bg-0: rgb(30, 31, 34);
  --c-bg-1: rgb(43, 45, 49);
  --c-bg-2: rgb(49, 51, 56);
  --c-bg-3: rgb(64, 66, 73);

  --c-fg-0: rgb(255 255 225);
  --c-fg-1: rgb(219 222 225);
  --c-fg-2: rgb(181 186 193);
  --c-fg-3: rgb(113 116 120);

  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 16px;
  --sp-4: 24px;
  --sp-5: 32px;
  --sp-6: 48px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--c-cyan);
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/hex-grid.svg);
}

.canvas-container {
  background: #161616;
  position: relative;
}

.settings-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: var(--sp-3);
  margin: var(--sp-2);
  border-radius: var(--sp-2);
  border: 1px solid var(--c-cyan);
  background-image:
    radial-gradient(rgba(var(--rgb-black), 0.1), transparent),
    radial-gradient(rgba(var(--rgb-fuchsia), 0.1), rgba(var(--rgb-cyan), 0.1)),
    url(/hex-grid-menu.svg);
  background-blend-mode: luminosity;
  box-shadow:
    inset rgba(var(--rgb-cyan), 0.2) 0px 0px 2px 2px,
    rgba(var(--rgb-cyan), 0.8) 0px 0px 2px 2px;
}

.icon-button {
  font-family: var(--font-mono);
  font-size: large;
  padding: var(--sp-2);
  cursor: pointer;
  border-radius: var(--sp-6);
  color: var(--c-cyan);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: var(--sp-2);
}

.range-slider {
  width: 100%;
  color: var(--c-cyan);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-sans);
  font-weight: bold;
  padding: 0.5rem;
}

/* FIXME */
.range-slider [role="button"] {
  cursor: pointer;
}

.range-slider input[type="range"] {
  cursor: pointer;
  appearance: none;
  background: transparent;
  border-radius: var(--sp-2);
  height: 0.5rem;
  flex: auto;

  overflow: hidden;

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    color: transparent;
    background: rgba(var(--rgb-fuchsia), 0.2);
    border: none;
  }
  &::-webkit-slider-thumb {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    border: none;
    background: var(--c-cyan);
    margin-top: 0;
    --webkit-appearance: none;
    appearance: none;

    box-shadow: calc(-100vw - 0.25rem) 0 0 100vw rgba(var(--rgb-cyan), 0.6);
  }
  &:focus::-webkit-slider-thumb {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--c-cyan);

    outline: none;
    box-shadow: calc(-100vw - 0.25rem) 0 0 100vw rgba(var(--rgb-cyan), 1);
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    color: transparent;
    background: rgba(var(--rgb-fuchsia), 0.2);
    border: none;
  }
  &::-moz-range-thumb {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    border: none;
    background: var(--c-cyan);

    box-shadow: calc(-100vw - 0.25rem) 0 0 100vw rgba(var(--rgb-cyan), 0.6);
  }
  &:focus::-moz-range-thumb {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--c-cyan);
    outline: none;
  }
}
